<f:layout name="Default" />

<f:section name="Title">A list of secrets</f:section>

<f:section name="Content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<f:if condition="{secrets}">
				<f:then>
					<ul>
						<f:for each="{secrets}" as="secret">
							<li>
								<f:link.action action="show" arguments="{secret: secret}">{secret.name}</f:link.action>
								<f:link.action action="edit" arguments="{secret: secret}">Edit</f:link.action>
								<f:form action="delete" arguments="{secret: secret}">
									<f:form.submit value="Delete" />
								</f:form>
							</li>
						</f:for>
					</ul>
				</f:then>
				<f:else>
					<p>No secrets created yet.</p>
				</f:else>
			</f:if>
			<p><f:link.action action="new">Create a new secret</f:link.action></p>
		</div>
	</div>
</f:section>